.card {
  width: 80vw;
  margin: 5px auto;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  padding: 1rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-radius: 8px;
  box-shadow: rgba(235, 232, 232, 0.15) 1.95px 1.95px 2.6px;

  &:hover {
    box-shadow: rgba(5, 5, 218, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.89) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
  }

  img {
    width: 100%
  }

}